.profile{background-repeat: no-repeat;
  
height:700px;
background-image:url("./axio.jpg");
text-align: center;
background-repeat: no-repeat;
background-size: cover;
}

.bp{
    margin-top: 15px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
}
.dlogout{
        margin-left: 55px;
    }
.logout{
    height: 40px;
}
.payb{
    width: 150px;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 50px;
}
.user_info{ background-color: beige;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 150px;
    border-radius: 2%;
    opacity: 0.92;
    display: flex;
    flex-direction: column;
    align-items: baseline
}
.info{
    width: 100%;
}
.navpro{
    display: flex;
    justify-content: space-around;
}
.name{
    margin-left: 10px;
    
    font-weight:bolder;
    font-size: xx-large;
   
}
.flxuser{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.userinscri{
    font-weight: 500 ;
  font-size: larger;
}
.editdiv{
    display: flex;
    justify-content: flex-start;
}
.editp{margin-top: 5px;
    margin-left: 5px;
    width: 35px;
    border-style: hidden;
    background-color: rgb(172, 172, 243);
    border-radius: 100%;
}
.fa-solid{
    width: 26px;
    font-size: medium;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height:auto
}
@media screen and (max-width:700px) {
    .profile,p{
        font-size: 0.6em;
       
    }
}
@media screen and (max-width:400px) {
    .user_info{
        width: 100%;
       margin-left:auto;
    
    }
}