.pay{
    height: 700px;
    background-image: url("./pa.jpg");
    background-repeat: no-repeat ;
    background-size: 1500px;
    text-align: center;
}
.pay_form{
    position: relative;
    top:40px;

}
.dl{font-size: large;
   font-family: fantasy;
 width: auto;
}
.bpay{
    margin-top: 38px;
    display: flex;
    justify-content: space-around;
}
.news{
    color: blue;
}
@media screen and (max-width:470px) {
    .pay_form{
        width:90%;
        font-size: 0.6em;
        text-align: center;
    }
    .input_pay {
        width:80%
    }
}