.login_page{
    padding-top: 50px;
    height: 700px;
    background-image: url("./ist.jpg");
    background-repeat: no-repeat ;
    background-size:cover ;
}   
.login_form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(192, 192, 187);
    width:40%;
    margin: auto;
   border-radius: 7%;
  opacity: 0.89;
  height: auto;
  padding: 2% 5%;
}
.login_text{
    font-weight: bold;
    font-style: italic;
    margin-left: 600px;
    color: rgb(4, 56, 56);
}
.btns_login{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
@media screen and ( max-width: 760px){
    .btn_l,a{
        width:97%;
     padding: 0%;
    }
    .login_form{
        font-size: 0.8em;
        width:60%;
    }
    .btns_login{
        justify-content: space-between;
        width:90%
    }
   
}
